::before * ** ::after {
  box-sizing: border-box;
}
#darkMode {
  background: transparent url("./images/moon.png") no-repeat;
  background-size: 30px 30px;
  width: 32px;
  height: 32px;
  filter: grayscale(100%);
  border: solid black;
  border-radius: 50%;
  transition: background-color 0.3s ease-in-out, filter 0.3s ease-in-out;
}
#darkMode:hover,
#darkMode:focus {
  filter: none;
  background-color: black;
  cursor: pointer;
}
#darkMode:clicked {
  filter: none !important;
  background-color: black;
}
:root {
  --blue: rgb(26, 57, 87);
  --white: rgb(236, 236, 236);
  --black: rgb(0, 0, 0);
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: var(--background-color);
  color: var(var(--color));
  font-weight: var(--font-weight);
  transition: background-color 0.3s ease-in-out, color 0.6s ease-in-out;
  justify-content: center;
  align-items: center;
}
body.light {
  --background-color: var(--white);
  --text-color: var(--blue);
  --font-weight: 400;
  --image: url("./images/fashion1.jpg");
}

body.dark {
  --background-color: var(--blue);
  --text-color: var(--white);
  --font-weight: 500;
  --image: url("./images/fashion2.jpg");
}
h1{
  color: var(--text-color);
  text-align: center;
  word-wrap: break-word;
  font-size: 5rem;
  text-shadow: 0 0 5px red;
}
h2{
color: var(--text-color);
word-wrap: break-word;
font-size: 3rem;
text-shadow: 0 0 3px black;
align-content: center;
justify-content: center;
}


.homepage {
  background-image: var(--image);
  background-position: center;
  background-size: cover;
  padding: 20px;
  margin: 0%;
  border-radius: 10px;
  align-items: center;
  overflow:hidden;
  position: flex;
  flex-direction: row;
}
@media screen and (max-width: 900px) {
  .homepage {
     width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .homepage {
     width: 100%;
  }
}

.Nav {
  margin-bottom: 50px;
  width: 100% auto;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  overflow: hidden;
}

.Site-title {
  font-size: 2rem;
}
.Nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}
.Nav a {
  background: var(--background-color);
  color: var(--text-color);
  border-radius: 30px;
  text-decoration: none;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
.Nav li:hover {
  background-color: #777;
  border-radius: 30px;
  height: 30px;
}
.buttonNav{
  background: transparent url("./images/cart.png") no-repeat;
  background-size: 30px 30px;
  width: 32px;
  height: 32px;
  border: none;
  position: relative;
}
.rounded-circle{
  background-color: red;
  background-size: 20px 20px;
  width: 16px;
  height: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  position: absolute;
  color: white;
  bottom: 0;
  right: 0;
  transform: translate(25%, 25%);
}
@media screen and (max-width: 900px) {
  .Nav, .Nav ul,.Site-title,.Nav a,h1 {
     width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .Nav, .Nav ul,.Site-title,.Nav a, hi {
     width: 100%;
  }
}
section{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeImage{
    display: grid;
    grid-template-columns: repeat(3,auto);
    gap: 10px;
    align-items: center;
    justify-items: flex-end;
}
@media screen and (max-width: 900px) {
  .homeImage {
     width: 80%;
     display: grid;
    grid-template-columns: repeat(2,auto)
  }
}
@media screen and (max-width: 600px) {
  .homeImage{
     width: 50%;
     display: grid;
    grid-template-columns: repeat(1,auto)
  }
}
.fashion1{
  background:  url("./images/home1.jpg") no-repeat;
  background-size: 300px 400px;
  width: 300px;
  height: 400px;
  border-radius: 30px;
  border-style: dotted;
  border-color: black;
}
.fashion2{
  background:  url("./images/home2.jpg") no-repeat;
  background-size: 300px 400px;
  width: 300px;
  height: 400px;
  border-radius: 30px;
  border-style: dotted;
  border-color: black;
}
.fashion3{
  background:  url("./images/home3.jpg") no-repeat;
  background-size: 300px 400px;
  width: 300px;
  height: 400px;
  border-radius: 30px;
  border-style: dotted;
  border-color: black;
}
.fashionH2{
  padding: 10px;
  justify-content: center;
  color: antiquewhite;
  text-transform: uppercase;
  margin: 30px;
  border-radius: 30px;
  border-style: dotted;
  border-color: black;
}
@media screen and (max-width: 900px) {
  .fashion1, .fashion2, .fashion3 {
     width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .fashion1, .fashion2, .fashion3{
     width: 100%;
  }
}
.fashionButton{
  color: var(--text-color);
  background-color: blueviolet;
  width: 100px;
  height: 50px;
 margin-left: 40px;
}
.container{
  width: 100% auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  gap: 2rem;
  padding: 0 1rem;
  overflow: hidden;
  background-color: bisque;
}
 .Navbar2{
  width: 100% auto;
  height: 100px;
  display: flex;
  align-items: left;
  gap: 2rem;
  overflow: hidden;
  list-style: none;
  text-decoration: none;
  text-transform: none;
}
.navup{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.Navbar2 .Nav.Link{
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
  color: aqua;
} 
.Nav.Link{
  text-decoration: none;
  list-style: none;
}
.store{
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.store-container{
  justify-content: center;
  align-items: center;
}
.imgStore{
 width: 400px;
 height: 200px;
background-size: cover;
border-radius: 20px;
border-style: double;
border-color: yellow;
}
.prices{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.pricesbutton{
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-content: center;
  align-items: center;
  gap:0.5rem;
}
.pricesbutton button{
  width: 40px;
  height: 40px;
  color: aliceblue;
  background-color: rgb(0, 140, 255);
  border-radius: 10px;
}
.removebtn{
background-color: red;
color: white;
border-radius: 10px;
height: 30px;
}
.divremovebtn{
  display: flex;
  flex-direction: row;
  justify-content: center;
  place-content: center;
  align-items: center;
}
.cartbuttonDiv{
  width: 100px;
  height: 100% auto;
}
.cartbutton{
background-color: rgb(0, 140, 255);
color: white;
border-radius: 10px;
height: 200%;
width: 400px;
}

.Cartpage{
  display: flex;
  flex-direction: column;
  width: 900px;
  height: auto;
  border-radius: 20px;
  color: var(--text-color);
  border-color: black;
  border-style: double;
  padding: 10px;
  align-items: center;
  place-content: center;
  margin: 20px;
  margin-left: 70px;
}
.carts{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: auto;
  justify-content: center;
  align-items: center;
}
.cartdisplay{
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: center;
  gap: 1rem;
}
.productDisplay{
  color: var(--text-color);
  width: 200px;
  background-color:rgb(255, 197, 5);
  border-color: black;
  border-style: double;
  padding: 10px;
  align-items: center;
  place-content: center;
  margin: 20px;
}
.prodDisplay{
  color: var(--text-color);
width: 180px;
height: auto;
}
.prdouctCard{
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  place-content: center;
  margin-bottom: 20px;
}
@media screen and (max-width: 900px) {
  .container, .prdouctCard,.prodDisplay,.productDisplay,.cartbutton,.Nav.Link,
  .store-container,
  .imgStore,
  .prices,
  .pricesbutton,
  .pricesbutton button,
  .removebtn,
  .divremovebtn{
     width: 100%;
     display: grid;
    grid-template-columns: repeat(2,auto)
  }
}
@media screen and (max-width: 600px) {
  .container, .prdouctCard,.prodDisplay,.productDisplay,.cartbutton,.Nav.Link,
  .store-container,
  .imgStore,
  .prices,
  .pricesbutton,
  .pricesbutton button,
  .removebtn,
  .divremovebtn{
     width: 100%;
  }
}
@media screen and (max-width: 900px) {
  .cartdisplay{
    width: 200%;
     display: grid;
    grid-template-columns: repeat(2,auto);
  }
}
@media screen and (max-width: 600px) {
  .cartdisplay{
    width: 200%;
     display: grid;
    grid-template-columns: repeat(1,auto);
  }
}
@media screen and (max-width: 900px) {
  .store{
    width: 200%;
     display: grid;
    grid-template-columns: repeat(2,auto);
  }
}
@media screen and (max-width: 600px) {
  .store{
    width: 100%;
     display: grid;
    grid-template-columns: repeat(1,auto);
  }
}
@media screen and (max-width: 900px) {
  .prices{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }}
@media screen and (max-width: 600px) {
.prices{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}}
.searchInput{
  padding: 2px;
  width: 300px;
  background-color: var(--text-color);
  /* text-transform: capitalize; */
  border-radius: 20px;
}
.searchbtn{
  padding: 4px;
  width: 150px;
  background-color: var(--text-color);
  border-radius: 20px;
  margin-top: 3px;
}
.checkout{
 padding: 10px;
 position: absolute;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 width: 1000px;
 border-color: black;
 border-style: double;
 border-radius: 10px;
margin: 30px;
}
.checkoutGrid{
  display: grid;
  grid-template-columns: repeat(2,auto);
  gap: 2em;
  justify-content: space-between;
}
.formcheck, input.formcheck{
  padding: 5px;
  border: 10px solid black ;
  border-style:double;
  width: 400px;
}.formcheck >input{
  margin-right: 3px;
  width: calc(100% - 3px);
}
.checkout1{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1000px;
  gap: 5em;
  color: var(--text-color);
}
table{
  width:400px ;
}
table,th, tr, td{
  border: 3px;
  /* width: 30px; */
  border-style: double;
  border-color: rgb(248, 126, 4);
  padding: 5px;
  color: var(--text-color);
}
.tableDiv{
  padding: 7px;
border: 3px solid black; 
border-style:dotted;
border-radius: 20px;
}
.btnDisplay{
display: flex;
flex-direction: row;
 justify-content: space-around;
 align-items: center;
 gap: 4em;
}
.productDisplay{
  border-radius: 20px;
}
.productDisplay:hover{
  background-color: aqua;
}
.productdisplay{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btnBelow{
  margin-top: 5px;
  width:auto;
  height: 40px;
  background-color: var(--blue);
  border-color: black;
  border-radius: 15px;
  border-style: double;
  border-width: 4px;
  color: white;
}
.data{
  background: url("./images/payments.png")no-repeat;
  background-size: cover;
  background-size: 300px 50px;
  width: 500px;
  height: 100px;
}
.checkFooter{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  margin-left: 200px;
}
h5{
  justify-content: center;
  align-items: center;
  font-size: 0.5em;
  place-content: center;
}
@media screen and (max-width: 900px) {
  .searchInput,
.searchbtn,
.checkout,
.checkout1,
table,
table,th, tr, td,
.btnDisplay,
.productdisplay,
.btnBelow,
.data,
.checkFooter,
h5{
width: 100%;
}}
@media screen and (max-width: 600px) {
  .searchInput,
.searchbtn,
.checkout,
.checkout1,
table,
table,th, tr, td,
.btnDisplay,
.productDisplay,
.productdisplay,
.btnBelow,
.data,
.checkFooter,
h5{
  width: 100%;
}}
@media screen and (max-width: 900px) {
  .Cartpage,.carts{
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, auto);
  }}
@media screen and (max-width: 600px) {
  .Cartpage,.carts{
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(1, auto);
}}